<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fortmin.proshopping"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23"/>
        

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <permission
        android:name="com.fortmin.proshopping.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.fortmin.proshopping.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.fortmin.proshopping.PresenciaAmigo"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
             <intent-filter>
               
                 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> 
           
        </activity>
           

        <service android:name="com.fortmin.proshopping.GCMIntentService" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.fortmin.proshopping" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.fortmin.proshopping" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.fortmin.proshopping.RegisterActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name="com.fortmin.proshopping.LecturaRF"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_lectura_rf" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data
                    android:host="ext"
                    android:pathPrefix="/com.fortmin.proshopping:Shopping"
                    android:scheme="vnd.android.nfc" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fortmin.proshopping.ProductosPaquete"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_paquete" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.fortmin.proshopping.ListadoMisCompras"
            android:screenOrientation="portrait"
            android:label="@string/titulo_activity_listado_compras" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fortmin.proshopping.Inicio"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_inicio" >
             <intent-filter>
               
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> 
        </activity>
        <activity
            android:name="com.fortmin.proshopping.Login"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.fortmin.proshopping.TransferenciaPuntos"
            android:screenOrientation="portrait"
            android:label="@string/titulo_transferencia_puntos" >
            <intent-filter>
               <action android:name="android.nfc.action.NDEF_DISCOVERED" />
               <category android:name="android.intent.category.LAUNCHER" />
               <data android:mimeType="application/com.fortmin.proshopping" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fortmin.proshopping.FormularioRegistro"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_registro" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.fortmin.proshopping.ServicioBle"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name="com.fortmin.proshopping.MostrarPaquetes"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_mostrar_paquetes" >
        </activity>
        <activity
            android:name="com.fortmin.proshopping.PruebasUnitarias"
            android:label="@string/title_activity_pruebas_unitarias" >
            <intent-filter>
                 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fortmin.proshopping.CargarImagen"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_cargar_imagen" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.fortmin.proshopping.CanastodeCompras"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_canastode_compras" 
            android:theme="@style/AppTheme" >
        </activity>
         <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.fortmin.proshopping"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data
            android:name="android.nfc.disable_beam_default"
            android:value="true" />
    </application>

</manifest>