<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fortmin.proshopping"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="com.fortmin.proshopping.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.fortmin.proshopping.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PresenciaAmigo"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".GCMIntentService" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.fortmin.proshopping" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.fortmin.proshopping" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LecturaRF"
            android:label="@string/title_activity_lectura_rf"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"  
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data
                    android:host="ext"
                    android:pathPrefix="/com.fortmin.proshopping:Shopping"
                    android:scheme="vnd.android.nfc" />
            </intent-filter>
           
        </activity>
        <activity
            android:name=".ProductosPaquete"
            android:label="@string/title_activity_paquete"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListadoMisCompras"
            android:label="@string/titulo_activity_listado_compras"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Inicio"
            android:label="@string/title_activity_inicio"
            android:screenOrientation="portrait" >
            <intent-filter>
               <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TransferenciaPuntos"
            android:label="@string/titulo_transferencia_puntos"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.LAUNCHER" />

                <data android:mimeType="application/com.fortmin.proshopping" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FormularioRegistro"
            android:label="@string/title_activity_registro"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ServicioBle"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name=".ServicioClienteCerca"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".MostrarPaquetes"
            android:label="@string/title_activity_mostrar_paquetes"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PruebasUnitarias"
            android:label="@string/title_activity_pruebas_unitarias" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CargarImagen"
            android:label="@string/title_activity_cargar_imagen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CanastodeCompras"
            android:label="@string/title_activity_canastode_compras"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
             >
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.fortmin.proshopping"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="android.nfc.disable_beam_default"
            android:value="true" />

        <activity
            android:name=".Tablet"
            android:label="@string/title_activity_tablet"
            android:screenOrientation="landscape" >
            <intent-filter>
                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>